:root {
    --color-bg: #7c7f93;
    --color-fg: #1e1e2e;
    --color-link: #1e1e2e;
    --color-link-visited: #1e1e2e;
    --color-link-hover: #8aadf4;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "Berkeley Mono";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 0.4fr 1fr;
  justify-items: center;
  align-items: top;
  min-height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 64px;
  font-weight: bold;
  padding-top: 64px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 256px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 4px
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}
